<h1>All Properties</h1>

<input class="search"></input>

<div class="flex-table">
    <div class="header">
        <div class="row">
            <div class="cell">Title</div>
        </div>
    </div>
    <div class="body search-target">
        <% @properties.each do |property| %>
            <div class="row">
                <div class="cell">
                    <%= property.title %>
                </div>
            </div>
        <% end %>
    </div>
</div>