.flex-table {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0px 1px;

    .header, .body {
        display: flex;
        flex-direction: column;
        .row {
            display: flex;
            justify-content: space-around;

            border-bottom: 1px solid black;
            .cell {
                &.title {
                    flex: 3;
                }
                &:not(.title) {
                    flex: 2;
                    display: flex;
                    justify-content: center;
                }
                &.tiebreaker_sort {
                    display: none;
                }
            }
        }
    }
}