.flex-table {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0px 1px;

    .header, .body {
        display: flex;
        flex-direction: column;
        .row {
            display: flex;

            border-bottom: 1px solid black;
            .cell {
            }
        }
    }
}